<div id="header">
    <ul id="tabs">
        <li id="searchTab" class="tab active ui-state-active"><a href="#"><span class="ui-icon ui-icon-search floatLeft"></span> &nbsp;Search</a></li>
        <li id="compareTab" class="tab ui-state-default"><a href="#"><span class="ui-icon ui-icon-tag floatLeft"></span> &nbsp;Compare</a></li>
        <li id="neighborhoodsTab" class="tab ui-state-default"><a href="#"><span class="ui-icon ui-icon-home floatLeft"></span> &nbsp;Neighborhoods</a></li>        
        <br clear="all" />
    </ul>
    
    <div id="topRight">
        steve@livesqft | Settings | Logout
    </div>
</div>