<div id="hoodList" class="jqmWindow">
	<div class="floatLeft col"></div>
    <div class="floatLeft col"></div>
    <div class="floatLeft col"></div>
	<script language="javascript">
		var colcount = Math.round(objLength(fullHoodList) / 3);
		var divIndex = 0;
		var count = 0;
		$.each(fullHoodList, function(i, el){	
			$("#hoodList > div.col:eq("+divIndex+")").append('<div class="menu"><span>'+ i +'</span><div class="areaHoods" style="display:none;"></div></div>');
			
			$.each(el, function(n, hood){				
				$("div.menu:last > .areaHoods").append('<span class="hoodMenuLink" id="menu_hood_'+ hood.neighborhood_id +'">'+ hood.name +'</span>');
			});
			
			if((count+1) % colcount == 0){			
				divIndex++;
			}
			
			count++;			
		});
	</script>
    
    <br clear="all" />	    
    <div style="margin-bottom: 62px;"></div>
    
	<div class="bottomBar">    	    
    	<div class="floatRight">                
            <input type="button" value="I'm done" class="finish" /></a>
        </div>                
    </div>
    
    
    <div class="ui-state-active ui-corner-all closeModalBtn"><span class="ui-icon ui-icon-close"></span></div>
</div>